# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python
*.pyc 
*.pyd 
*.egg-info/

#doxygen
doc/html/
doc/latex/

# others
common/
lib/
bin/
*.asv
*.zip
CUDA/inc/*config.hpp
inc/*.hpp
build/
*.out
*.out.*
*.swp
*.hdr
*.cfl
**/compile_commands.json
